<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>All Speedruns</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/maker"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/maker">My Speedruns</a></div>
  <div class="navlink"><a href="/allSpeedruns">All Speedruns</a></div>

  <div class="navlink" >
  <button id="premiumToggle" class="premiumButton" type="button">Toggle Premium </button>
  </div>

    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="thisobjectMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="thisobject" src="assets/img/thisObject.png" alt="thisobject"/>
  </div>

  
  <script src="/assets/allSpeedrunsBundle.js"></script>
</body>
</html>
