<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ThisObjectMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/maker">My Speedruns</a></div>
  <div class="navlink"><a href="/allSpeedruns">All Speedruns</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="thisobjectMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="thisobject" src="assets/img/thisObject.png" alt="thisobject"/>
  </div>


<div > <h3>omg dsalkdjl;kasdj</h3></div>


          <div> 
            <h3>no css</h3>
            <img src="/assets/img/adPlaceholder.jpg" alt="Advertisement" />
        </div>

                  <div id="adBanner">  
            <h3>id css</h3>
            <img src="/assets/img/adPlaceholder.jpg" alt="Advertisement" />
        </div>

                          <div class="adBanner">  
            <h3>class css</h3>
            <img src="/assets/img/adPlaceholder.jpg" alt="Advertisement" />
        </div>


          <div id="adBanner" class="adBanner"> 
                        <h3>both css</h3>
            <img src="/assets/img/adPlaceholder.jpg" alt="Advertisement" />
        </div>

  <script src="/assets/appBundle.js"></script>
</body>
</html>
