html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}


/*
.speedrunForm {
    width: 100%;                     
    max-width: none;
    border: 2px solid #338acc;
    padding: 12px 0;
    background-color: #55acee;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.speedrunForm form,
#speedrunForm {
    width: 92%;
    max-width: 1100px;
    margin: 0 auto;
}

.speedrunForm label {
    float: left;
    width: 120px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 1.2em;
    color: white;
}

.speedrunForm input[type=text],
.speedrunForm input[type=number] {
    float: left;
    width: 260px;
    padding: 6px 8px;
    margin-top: 4px;
    margin-right: 16px;
    border-radius: 6px;
    border: 1px solid #cfe9ff;
}

#speedrunVideo {
    width: 360px;
}

.submitSpeedrun {
    float: left;
    margin-top: 4px;
    padding: 8px 12px;
    background-color: #66bdff;
    border-radius: 4px;
    border: 1px solid #338acc;
    color: white;
    cursor: pointer;
}

.submitSpeedrun:link, .submitSpeedrun:visited, .submitSpeedrun:hover, .submitSpeedrun:active {
    color: white;
}

.submitSpeedrun:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.speedrunForm::after {
    content: "";
    display: block;
    clear: both;
}
/**/

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#thisobjectMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#thisobjectMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#thisobject {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#speedruns  {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.speedrun  {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.speedrun:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

.speedrunIcon  {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptySpeedrun  {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.speedrunGame  {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.speedrunTime  {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.speedrunVideo {
    width: 90%;
    clear: both;
    margin-top: 10px;
    font-size: 1.1em;
}

.speedrun:first-child {
    margin-top: 10px;
}



.speedrun:last-child {
    margin-bottom:10px;
}

/*
#changePassword {
    width: 100%;
    background-color: #55acee;
    border-bottom: 2px solid #338acc;
    border-top: 2px solid #338acc;
    padding: 12px 0;
}


.changePassForm {
    width: 92%;
    max-width: 1100px;
    margin: 0 auto;
}


.changePassForm label {
    float: left;
    width: 170px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 1.2em;
    color: white;
}


.changePassForm input[type=password] {
    float: left;
    width: 260px;
    padding: 6px 8px;
    margin-top: 4px;
    margin-right: 16px;
    border-radius: 6px;
    border: 1px solid #cfe9ff;
}


.changePassForm .formSubmit {
    float: left;
    margin-top: 4px;
    padding: 8px 12px;
    background-color: #66bdff;
    border-radius: 4px;
    border: 1px solid #338acc;
    color: white;
    cursor: pointer;
}


.changePassForm .formSubmit:hover {
    background-color: #338acc;
}


.changePassForm::after {
    content: "";
    display: block;
    clear: both;
}*/


/*for both password bar and submission bar*/
.barContainer {
    width: 100%;
    background-color: #55acee;
    border-top: 2px solid #338acc;
    border-bottom: 2px solid #338acc;
    padding: 8px 0;
}


.barForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 10px;
}


.barForm label {
    font-size: 1.1em;
    color: white;
    min-width: 90px; 
}


.barForm input[type=text],
.barForm input[type=number],
.barForm input[type=password] {
    flex-grow: 1;
    min-width: 150px;

    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #cfe9ff;
}


.barForm .formSubmit,
.barForm .submitSpeedrun {
    background-color: #66bdff;
    border-radius: 4px;
    border: 1px solid #338acc;
    color: white;
    padding: 8px 14px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 0.9em;   
    padding: 6px 14px;  
    width: auto;
    white-space: nowrap;

}

.barForm .formSubmit:hover,
.barForm .submitSpeedrun:hover {
    background-color: #338acc;
}





#adBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: 2px solid #338acc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /*padding: 5px 0;*/
}

#adBanner img {
    /*max-height: 70px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
}

.adBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: 2px solid #338acc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /*padding: 5px 0;*/
}

.adBanner img {
    /*max-height: 70px;*/
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
}